[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/
thunderstore/*.zip

# Visual Studio Files
*.csproj
*.csproj.user
*.sln
AssemblyInfo.cs
.vs
.vscode

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

*.zip

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
